.weather{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    } 
    &__header{
        color: $weatherHeaderColor;
        @include fluid-type(300px, 1200px, 30px, 60px);
        margin: 0 0 30px 0;
    }
    &__city{
        padding: 10px;
        text-align: center;
        outline: none;
        max-width: 600px;
        min-width: 300px;
        width: 100%;
        font-size: 16px;
        border: 0;
        border-radius: 10px;
        margin: 0 0 30px 0;
    }
    &__mainInfo{
        display: flex;
        border-radius: 20px;
        padding: 30px;
        background-color: rgba(0,0,0,0.3);
        gap: 30px;
        align-items: center;
        color: $weatherCloudColor;
    }
    &__temp{
        display: flex;
        .degree{
            font-size: 40px;
            font-weight: 700;
        }
        .unit{
            font-size: 20px
        }
    }
    &__data{
        p{
            font-size: 14px;
            margin: 0 0 5px 0;
            &:last-of-type{
                margin: 0;
            }
        }
    }
    &__next{
   color: $weatherHeaderColor;
   margin: 30px 0;
   @include fluid-type(300px, 1200px, 20px, 40px);
   text-align: center;

   
    }
    &__days{
        display: flex;
        border-radius: 20px;
        justify-content: center;
        background-color: rgba(0,0,0,0.3);
        gap: 30px;
        align-items: center;
        color: $weatherCloudColor;
        padding: 30px;
    }
    &__day{ 
    color: $weatherCloudColor;
    text-align: center;
    }
   &__loader{
    display: none;
   }
   &__error{
    padding: 10px;
    background-color: #ff0000;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
  
   }
   &__map{
    height: 350px;
    margin: 30px 0 0 0;
   }
}